{% extends 'flights/layout.html' %}

{% block page_header %}
    <div class="jumbotron">
        <h2 class="display-3">Get all your Flights here</h2>
        <p class="lead">Condor Flights offers you the best and most comfortable flights in the
            US. We have the best coaches, with a top-notch first class area that is comfortable
        as hell. </p>

        <a class="btn btn-lg btn-primary" href="{% url 'users:register' %}">Register &raquo;</a>
    </div>
{% endblock page_header %}

