{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Users</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    

    {%bootstrap_css%}
    {%bootstrap_javascript jquery="full"%}
</head>

<body>

    <main role="main" class="container">
        <div class="mb-2 pb-2 border-bottom ">
            {% block page_header %}

            {% endblock page_header %}
        </div>
        <div>
            {%block body%}

            {%endblock body%}
        </div>
    </main>



</body>

</html>