.page-text{
    text-decoration: none;
    color: black;
}

@keyframes showfade{
    0%{
        display: block;
        opacity: 1;
    }

    85%{
        display: block;
        opacity: 0%
    }
    100%{
        display: none;
        opacity: 0;
    }

}


.animateAlert{
    animation-name: showfade;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

.unliked{
    color: gray
}

.liked{
    color: red;
}

