{% extends 'encyclopedia/layout.html' %}

{% block title %}Add A New Page{% endblock title %}

{% block body %}

<div class="container " style="width:70%;">
    {% if title != None and content != None %}
        <h1 class="display-3 mb-4">Edit Page</h1>
    {% else %}
        <h1 class="display-3 mb-4">Create A New Page</h1>
    
    {% endif %}
    <form action="{% url 'createentry' %}" method="POST">
        {%csrf_token%}
         
        {% if errormessage %}
        <div class="alert alert-danger alert-dismissable">
            {{errormessage}}
            <button class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times; </span></button>
        </div>
        {% endif %}
        
        {% if title %}

            <div class="input-group mb-3">
                <span class="input-group-text">
                    Title
                </span>
                <input class="form-control"  id="title" name="title" placeholder="Title goes here" value="{{title}}">
            </div>
            <br>

        {% else %}

            <div class="input-group mb-3">
                <span class="input-group-text">
                    Title
                </span>
                <input class="form-control"  id="title" name="title" placeholder="Title goes here">
            </div>
            <br>

        {% endif %}
        <label for="cont">
            Content
        </label>
        <br>
        {% if content %}
        <textarea class="form-control border border-warning" name="content" id="cont" cols="30" rows="10" >
            {{content}}
        </textarea>
        {% else %}
        <textarea class="form-control border border-warning" name="content" id="cont" cols="30" rows="10" >
        </textarea>
        
        {% endif %}
        <br>
        {% if title and content %}
            <input type="hidden" name="edit" value="editpage">
            <input class="btn border border-primary text-primary" type="submit" value="Edit">

        {% else %}
            <input class="btn border border-primary text-primary" type="submit" value="submit">

        {% endif %}
    </form>
</div>
{% endblock body %}