{% extends "network/layout.html" %}
{% load static %}

{% block body %}
<div class="container h1 p-0">
Profile 
</div>
<div class="container border border-dark rounded p-4">
    <div class="h3">{{account.username}}</div>
    <div class="text-muted">Joined {{account.date_joined}}</div>
    <div class="d-inline"><span class="font-weight-bold">{{account.following.all|length}}</span>  Following   <span class="font-weight-bold" id="followers">{{account.followers.all|length}}</span>  Followers 
        {% if user != account %}
        <span class="float-right">
            {% if user in account.followers.all %}
                <button id="followButton" data-userid="{{account.id}}" data-followers="{{account.followers.all|length}}" class="btn btn-dark rounded-pill">Unfollow</button>
            {% else %}
                <button id="followButton" data-userid="{{account.id}}" data-followers="{{account.followers.all|length}}" class="btn btn-dark rounded-pill">Follow</button>
            {% endif %}
    </span>
    {% endif %}
</div>
</div>
<div id="posts">
    {% if empty %}
    <div class="h1 container mt-4">
        No Posts Available
    </div>
    {% else %}
    {% for post in posts %}
    <div class="post container border border-gray rounded p-4 mt-2">
        <div class="h5">
            {% if user != post.owner %}
            <a class="text-dark" href="{% url 'notprofile' post.owner.id %}">    
        {% else %}
            <a class="text-dark" href="{% url 'profile' %}">
        {% endif %}
            {{post.owner}}
            </a>
        </div>
        <div id="postArea">{{post.content}}
        </div>
        {% if post.owner == user%}
        <div>
            <a id="editLink" data-id="{{post.id}}" href="">Edit</a>
        </div>
        {% endif %}
        <div class="text-muted">{{post.timestamp|date:"M d, Y"}}</div>
      
       
        {% if user in post.likes.all %}
            <div><a class="likeButton" href="" data-id="{{post.id}}" data-likes="{{post.likes.all|length}}"><i class="fa-solid fa-heart liked"></i></a> <span class="likes">{{post.likes.all |length}}</span> Likes</div>
        {% else %}
            <div><a class="likeButton" href="" data-id="{{post.id}}" data-likes="{{post.likes.all|length}}" ><i class="fa-solid fa-heart unliked"></i></a> <span class="likes">{{post.likes.all |length}}</span> Likes</div>
        {% endif %} 
        <div>comment</div>
    </div>

    {% endfor %}

</div>

{% comment %}Pagination {% endcomment %}
<div id="postPagination mt-4">

    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
            {% if posts.has_previous %}
            <li class="page-item ">
                <a class="page-link" href="{% url 'index' %}?page={{posts.previous_page_number}}"
                    tabindex="-1">Previous</a>
                {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
                {% endif %}
            </li>
            <li class="page-item">
                <span class="page-link page-text">
                    {{posts.number}} of {{posts.paginator.num_pages}}
                </span>
            </li>

            {% if posts.has_next %}
            <li class="page-item ">
                <a class="page-link" href="{% url 'index' %}?page={{posts.next_page_number}}" tabindex="-1">Next</a>
                {% else %}
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Next</a>
                {% endif %}
            </li>
        </ul>
    </nav>

</div>
{% endif %}
<script src="{% static 'network/network.js' %}"></script>

{% endblock %}