{% extends "auctions/layout.html" %}

{%load bootstrap4 %}

{% block body %}

    <div class="container mb-4">
        <h2 class="mb-4">Register</h2>
        {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-danger">
                <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
        {% endif %}
        <form action="{% url 'auctions:register' %}" method="post">
            {%csrf_token%}
            {%bootstrap_form form%}
        
            <input class="btn btn-primary" type="submit" value="Register">
        </form>
        Already have an account? <a href="{% url 'auctions:login' %}">Log In here.</a>
    </div>

    <hr class="mb-4">

{% endblock %}